<div class="pet-shows">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>みんなのペット紹介</h3>
        <p>
          Ruby on Railsで制作した自分のペットの写真を見せ合うことができるアプリです。ペットの写真を投稿したり、投稿にいいねをしたり、ユーザーをフォローしたり、ユーザーアイコンを変更したりなどできます。
          このアプリ開発を通して、CRUD、ユーザー登録などの基礎的な考え方を復習できました。今後、投稿した写真にコメントを付けられるようにしたりなどして、スキルアップできたら良いと思います。
        </p>
        <ul>
          <li><a class="demo" href="https://pet-show1.herokuapp.com/" target="_blank"><i class="fas fa-video"></i> Demo</a></li>
          <li><a class="github" href="https://github.com/s-kazuki1226/pet-show" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
        </ul>    
        <h5>使用言語など</h5>
        <p>
          Ruby, Ruby on Rails, HTML5/CSS3, Bootstrap, MySQL(開発), PostgreSQL(本番), Git/GitHub, Heroku
        </p>
      </div>
      <div class="photos col-md-7 text-center">
        <a href="assets/pet-show.png" data-lightbox="pet-shows">
          <%= image_tag "pet-show.png", alt: "", class: "pet-show1" %>
        </a>
        <a href="assets/アカウント登録.png" data-lightbox="pet-shows">
          <%= image_tag "アカウント登録.png", alt: "", class: "pet-show1" %>
        </a>
        <a href="assets/ログイン.png" data-lightbox="pet-shows">
          <%= image_tag "ログイン.png", alt: "", class: "pet-show1" %>
        </a>
        <a href="assets/投稿ページ.png" data-lightbox="pet-shows">
          <%= image_tag "投稿ページ.png", alt: "", class: "pet-show1" %>
        </a>
        <a href="assets/ユーザー一覧.png" data-lightbox="pet-shows">
          <%= image_tag "ユーザー一覧.png", alt: "", class: "pet-show1" %>
        </a>
        <a href="assets/タイムライン.jpg" data-lightbox="pet-shows">
          <%= image_tag "タイムライン.jpg", alt: "", class: "pet-show1" %>
        </a>
        <a href="assets/プロフィール1.png" data-lightbox="pet-shows">
          <%= image_tag "プロフィール1.png", alt: "", class: "pet-show1" %>
        </a>
        <a href="assets/プロフィール2.png" data-lightbox="pet-shows">
          <%= image_tag "プロフィール2.png", alt: "", class: "pet-show1" %>
        </a>
        <a href="assets/プロフィール編集.png" data-lightbox="pet-shows">
          <%= image_tag "プロフィール編集.png", alt: "", class: "pet-show1" %>
        </a>
        <p>
          上記の画像をクリックすると、拡大表示されます。
        </p>
      </div>
    </div>
  </div>
</div>