<div class="portfolios">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>Portfolio</h3>
        <p>
          自分でデザインしたWebページです。Ruby on Railsで作成しました。初めて、JavaScriptとjQueryを使用したり、CSSでアニメーションを入れてみたりして、デザイン性のあるサイトに仕上がったと思います。
          取り入れたいアイディアがまだいくつかあるので、今後、実現できるようにスキルを身に付けてもっと良くなるサイトにしたいと考えています。
        </p>
        <a class="github" href="https://github.com/s-kazuki1226/portfolio" target="_blank"><i class="fab fa-github"></i> GitHub</a>
        <h5>使用言語など</h5>
        <p>
          Ruby, Ruby on Rails, HTML5/CSS3, Bootstrap, JavaScript/jQuery, Git/GitHub, Heroku
        </p>
      </div>
      <div class="photos col-md-7 text-center">
        <a href="assets/top.png" data-lightbox="portfolios">
          <%= image_tag "top.png", alt: "", class: "portfolio1" %>
        </a>
        <a href="assets/about_me.png" data-lightbox="portfolios">
          <%= image_tag "about_me.png", alt: "", class: "portfolio1" %>
        </a>
        <a href="assets/skills.png" data-lightbox="portfolios">
          <%= image_tag "skills.png", alt: "", class: "portfolio1" %>
        </a>
        <a href="assets/works.png" data-lightbox="portfolios">
          <%= image_tag "works.png", alt: "", class: "portfolio1" %>
        </a>
        <a href="assets/contact.png" data-lightbox="portfolios">
          <%= image_tag "contact.png", alt: "", class: "portfolio1" %>
        </a>
        <p>
          上記の画像をクリックすると、拡大表示されます。
        </p>
      </div>
    </div>
  </div>
</div>